<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
    <% @tag.articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
</ul>
<br />
<%= link_to 'Delete ' + @tag.name + ' Tag', tag_path(@tag), method: :delete, data: {confirm: "Really delete this tag?"} %><br />
<%= link_to 'List of Tags', tags_path %> <br />
<%= link_to '<< Back to Articles List', articles_path %>
